<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Web Phis Prediction</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>PhisDek.</h1>
		<p>WebSite Pendeteksi Website Phising menggunakan algoritma Machine Learning menggunakan Url atau Domain WEbsite</p>
		<span>
			<p>Follow My Sosial Media</p>
			<a href="https://www.facebook.com/reza.pradana.758399/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/reza_pradana_03/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Website </h5>
		<h5>Phising</h5>
		<form>
			<button>
				<a href="https://aduankonten.id/">Lapor</a>
			</button>
		</form>		
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
