<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Web Phis Prediction</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="Laloy">
	<div class="center">
		<div class="overlay">
		<h1>PhisDek.</h1>
		<p>Pendeteksi Website Phising menggunakan algoritma Machine Learning menggunakan Url atau Domain Website</p>
		<span>
			<p>Silahkan Pilih Toolsnya !!</p>
			<a href="https://aduankonten.id/">
				<i class="fa fa-bug" aria-hidden="true"> Lapor
					
				</i>
			</a>
			<a href="{{'index'}}">
				<i class="fa fa-check" aria-hidden="true"> Deteksi
					
				</i>
			</a>
		</span>
		</div>		
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
